<% include ../partials/header %> 


<div class="container">
	<div class="blog-editor">
		<div class="row">
			  <div class="col-3">

			  </div>
			  <div class="col-9">
			    <div class="tab-content" id="v-pills-tabContent">
			      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
			      	<form action="/blogs/index" method="POST" onsubmit="javascript: return process();">
			      		<input type="text" id="input-title" name="blog[title]" placeholder="title">

			      		<div id="editor"></div>
			      		<input type="hidden" id="editor_hidden" name="blog[content]">

						<div class="form-check" style="display: inline;">
					    	<input class="form-check-input" type="radio" name="blog_type" id="public" value="public" checked>
					        <label class="form-check-label" for="public">public</label>
					    </div>

					    <div class="form-check" style="display: inline;margin-left: 10px;">
					    	<input class="form-check-input" type="radio"  name="blog_type" id="private" value="private">
					        <label class="form-check-label" for="private">private</label>
					    </div>
						
						<button type="submit" class="btn btn-primary" style="border-color: #F44082; background-color: #F3568F;">Post Blog</button>
			      	</form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %> 