	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Include the Quill library -->
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		

		<!-- Include the highlight.js library -->
		<script>
		

			<!-- Initialize Quill editor -->
		  	var quill = new Quill('#editor', {
		   		modules: {
					toolbar: [
			     		[{ header: [1, 2, false] }],
				    	['bold', 'italic', 'underline'],
				    	['image', 'code-block']
				  	]
				},
				placeholder: 'Enter the article...',
			    theme: 'snow'
		  	});
		</script>
		
		<script>
			//var Delta = Quill.import('delta');

			function process() {
			  	document.getElementById("editor_hidden").value = JSON.stringify(quill.getContents());
			  	return true;
			}

			function fill_editor(value) {
				quill.setContents(value);
			}
		</script>
		<script>

			//calculate the maximum days of this month
			function max_days(year, month) {
				var maxDays;
				var days = [1, 3, 5, 7, 8, 10, 12];
				if(year%4 == 0 && month == 2) {
					if(year%400 == 0 || year%100 != 0) {
						maxDays = 29;
					}
				}
				else if(month == 2){
					maxDays = 28;
				}
				else if(days.includes(month)) {
					maxDays = 31;
				}
				else {
					maxDays = 30;
				}
				return maxDays;
			}
			//get the position  of first day of this month
			function get_first_pos(day, weekday) {
				var firstCol = (weekday - day + 1 + 28) % 7;
				return firstCol;
			}

			//fill the calendar

			function fill_calendar(year, month, day, weekday) {
				var maxDays = max_days(year, month);
				var firstCol = get_first_pos(day, weekday) + 7;
				var cal = document.getElementById("calendar");
				var rows = cal.getElementsByClassName("row");
				var counter = 1;

				for(var row of rows) {
					var cells = row.getElementsByClassName("col");
					for(var cell of cells) {
						if(firstCol <= 0 && counter <= maxDays) {
							if(counter == day) {
								cell.innerHTML = "<b>" + counter.toString() + "</b>" ;
							}
							else {
								cell.innerText = counter;
							}
							counter ++;
						}
						firstCol --;
					}
				}
			}


		</script>

	</body>
</html>

