<% include ./partials/header %>
		<!-- Content -->
		
			<div id="landing-header">
		 		<h1>Simple Blog For You</h1>
		 		<% if(!currentUser){ %>
					<a href="/register" class="btn btn-lg btn-primary" style="border-color: #F44082; background-color: #F3568F;">Start Your Own Blog</a>
				<% } else { %>
					<a href="/blogs/index" class="btn btn-lg btn-primary" style="border-color: #F44082; background-color: #F3568F;">Start Your Own Blog</a>
				<% } %>
		    </div>

		    <div class = "brief-intro">
		    	<h1>Simple and Easy Recorder and Organizer for Your Life</h1>
		    	<p>With our website, you can publish your blogs, write secret dairies and make plans of your life on a daily basis. This website is designed to make your life better!</p>
		    </div>
	    
		    <!-- Introduction to features of this site -->

			<div class="website-features">
			  <div class="row">
			    <div class="col-sm">
			    	<i style="font-size: 3em;" class="far fa-newspaper"></i>
				    <h2>Start your blog</h2>
				    <p>Sed laoreet finibus nunc sit amet sollicitudin. Mauris eros diam, aliquet nec leo a, pretium tempor purus. Proin euismod sodales mauris, et cursus metus convallis quis. Cras nec dapibus tortor.</p>
			    </div>
			    <div class="col-sm">
			    	<i style="font-size: 3em;" class="far fa-clock"></i>
			      	<h2>Make your plan</h2>
			      	<p> Etiam lacus neque, congue ac neque eu, congue tincidunt ipsum. Vivamus blandit dignissim erat, ut euismod felis finibus et.</p>
			    </div>
				<div class="col-sm">
					<i style="font-size: 3em;" class="fas fa-user-friends"></i>
					<h2>Make some friends</h2>
					<p>  Cras dictum sagittis tortor, ac pulvinar turpis fermentum non. Sed dapibus consectetur massa, viverra consequat nisl congue at.</p>
				</div>
			  </div>
			</div>
			<div class="contact-info">
				<p><b>Contact Me</b></p>
				<p>linkedin:
					<a href="https://linkedin.com/in/wanying-ding-984748151" style="color:#fff">
						linkedin.com/in/wanying-ding-984748151
					</a>
				</p>
				<p>github:
					<a href="https://github.com/Britjeans" style="color:#fff">
						https://github.com/Britjeans
					</a> 
				</p>
			</div>


		<!-- End Content -->		
<% include ./partials/footer %> 




