<% include ./partials/header %>
		<!-- Content -->
		
			<div id="landing-header">
		 		<h1>Simple Blog For You</h1>
		 		<% if(!currentUser){ %>
					<a href="/register" class="btn btn-lg btn-primary">Start Your Own Blog</a>
				<% } else { %>
					<a href="/blogs/index" class="btn btn-lg btn-primary">Start Your Own Blog</a>
				<% } %>
		    </div>
	    
		    <!-- Introduction to features of this site -->


			<div class="container">
			  <div class="row">
			    <div class="col-sm">
			      One of three columns
			    </div>
			    <div class="col-sm">
			      One of three columns
			    </div>
			    <div class="col-sm">
			      One of three columns
			    </div>
			  </div>
			</div>



		<!-- End Content -->		
<% include ./partials/footer %> 




